.page {
  min-height: 100vh;
  background: linear-gradient(180deg, #9FC3E5 -6.97%, #FFF 100%);
}

.main {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer {
  background: #08415C;
  color: white;
  padding: 40px 20px;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.column {
  margin: 0 15px;
  font-size: 1.1rem;
  text-align: left;
  list-style: none;
  padding: 20px;
  margin: 30px;
  line-height: 2;
}

.team-cont {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.line {
  width: 500px;
  flex-shrink: 0;
  height: 5px;
  background: rgba(55, 81, 114, 0.30); /* Customize the line */
  margin: 30px auto 10px auto;
  border-radius: 2.5px;
}

.sm-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}


