.review-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto 90px auto;


}

.join {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.proof {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}

.image {
    border-radius: 10px;
    margin: 10px 20px;
}

.name {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120px;
    text-align: center;
    text-wrap: wrap;
}



