.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    padding-left: 8rem;
    flex-wrap: wrap;
}

.left,
.right {
    flex: 1;
    padding: 0 20px;
}

.left-content {
    max-width: 500px;
}

.left-content p {
    margin: 0.2rem 0;
    font-size: 1.3rem;
}


.words-cont {
    display: flex;
    flex-direction: column;
}

.words-cont p {
    font-family: 'Italiana', serif;
    font-weight: normal;
    font-size: 6rem; 
    color: transparent;
    background: linear-gradient(130deg, #196082 0%, #08415C 100%);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 4.24px 4.24px rgba(0, 0, 0, 0.3);
}


.btn-cont {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 3.5rem 0;
    flex-wrap: wrap;
    
}

.btn-cont button {
    padding: 15px 25px;
    background: linear-gradient(130deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    border: none;
    border-radius: 14px;
    color: var(--background);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.btn-cont button:hover {
    background: linear-gradient(130deg, #08415C 0%, #2B81A9 80%);
    transform: scale(1.01);
}

.btn-cont p {
    color: var(--foreground);
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-cont p:hover {
    color: var(--gradient-end);
}

.right img {
    max-width: 100%;
    height: auto;  
    object-fit: contain;  
}


@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
      
        padding: 0 30px;
       
    }

    .left,
    .right {
        padding: 20px 0;
      
    }

    .words-cont p {
        font-size: 5rem; 
    }

    .btn-cont {
        justify-content: flex-start;
       
        gap: 15px;
     
    }
}


@media (max-width: 768px) {
    .main-container {
        padding: 0 15px;
        
    }

    .words-cont p {
        font-size: 4em !important; 
    }
    

    .left-content p {
        font-size: 1.1rem;
        
    }

    .btn-cont {
        justify-content: flex-start;
        
        flex-direction: row;
        
        flex-wrap: wrap;
    }

    .btn-cont button {
        padding: 12px 20px;
        
        font-size: 0.9rem;
    }

    .right img {
        object-fit: contain;  
    }
}


@media (max-width: 480px) {
    .words-cont p {
        font-size: 4rem; 
    }

    .btn-cont {
        gap: 10px;
        
        flex-direction: row;
       
    }

    .btn-cont button {
        padding: 10px 15px;
        font-size: 0.8rem;
    }

    .left-content p {
        font-size: 1rem;
    }
}
