.cont {
  text-align: center;
}

.introText {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.imageContainer {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100vw;
  height: auto;
  display: block;
  box-shadow: 25px 25px 50px 0 rgbs(0, 0, 0, 0.1) inset;
}

.imageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.4));
  pointer-events: none;
}