.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center text for headings */
}

.team-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.member-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1234px;
    margin: 20px auto; /* Auto margin for horizontal centering */
    justify-content: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
    align-items: center; /* Center the content inside the team member box */
}

.team-name {
    text-align: center;
    width: 100px;
    font-weight: 300;
    word-wrap: break-word; /* Fix issue with text wrapping */
}

.team-photo {
    border-radius: 50%;
    border: 2px solid #196082;
    margin-bottom: 10px;
}
