.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.member-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1234px;
    margin: 20px auto;
    justify-content: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
    align-items: center;
}

.team-name {
    text-align: center;
    width: max-content;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.team-photo {
    border-radius: 50%;
    border: 2px solid #196082;
    margin-bottom: 10px;
}