.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 10px 100px;
}

.box{
    width: 350px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 25px;
    background: linear-gradient(114deg, #196082 33.25%, #08415C 69.59%);
    margin: 10px;
}