.start-btn {
    display: flex;
    width: 180px;
    height: 60px;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(114deg, #2B81A9 33.25%, #08415C 69.59%);

    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  




