

.image {
    border-radius: 10px;
    margin: 10px;
}

.name {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120p;
    text-align: center;
}



