.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px;
    align-items: flex-start;
    max-width: 1234px;
}


.startBtn {
    display: flex;
    width: 140px;
    height: 40px;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(114deg, #2B81A9 33.25%, #08415C 69.59%);
    border: none;

    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.keyValue {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-family: Italiana;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(114deg, #196082 33.25%, #08415C 69.59%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

.bottom {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.learn {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.line {
    width: 500px;
    flex-shrink: 0;
    height: 5px;
    background: rgba(55, 81, 114, 0.30); /* Customize the line */
    padding: 50px;
    margin: auto;
    border-radius: 2.5px;
  }
  