.team-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    
}

.team-heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.member-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1234px;
    margin: 20px 100px;
    justify-content: center;
}

.team-name {
    text-align: center;
    width: 150px;
    text-wrap: wrap;
    font-weight: 300;
}

.team-photo {
    border-radius: 50%;
    border: 2px solid #196082;
}



